.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
    /* border: 10px solid gray; */
    padding: 10px;
    
    
}

.wordLetters {
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    /* padding: 5em; */
    letter-spacing: 10px;
    color: red;
}

.alphabet {
    font-size: 28px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* padding: 2em; */
    letter-spacing: 10px;
    color: red;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;

}




.hangman {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 10px solid red; */
    padding: 2em;
    margin: 0 auto;
    max-width: 350px;
    max-height: 600px;


    
}
.instructions {
    /* border: 10px solid red; */
    padding: 2em;
    margin: 0 auto;
}
.clues {
    font-size: 1em;
    /* border: 10px solid red; */
    padding: 2em;
    margin: 0 auto;
}

h2{
    margin: 0 auto;
    font-size: 1em;
}

