.container {
    display: flex;
    margin: 0 auto;
    border: 10px solid gray;
    padding: 10px;
    justify-content: space-around;
}

.wordLetters {
    font-size: 80px;
    display: flex;
    /* padding: 5em; */
    letter-spacing: 10px;
    color: red;
}

.alphabet {
    font-size: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* padding: 2em; */
    letter-spacing: 10px;
    color: red;
}

.hangman {
    border: 10px solid red;
    padding: 5em;
    margin: 0 auto;
}
.instructions {
    border: 10px solid red;
    padding: 5em;
    margin: 0 auto;
}
.clues {
    font-size: 2em;
    border: 10px solid red;
    padding: 2em;
    margin: 0 auto;
}

/* h2{
    margin: 0 auto;
    font-size: 2em;
} */

#hangmanHead {
    border: 10px solid blue;
}
#hangmanBody {
    border: 10px solid rgb(0, 255, 94);
}
#leftArm {
    border: 10px solid rgb(191, 0, 255);
}
#rightArm {
    border: 10px solid orange;
}
#leftLeg {
    border: 10px solid blueviolet;
}
#rightLeg {
    border: 10px solid rgb(255, 234, 0);
}
#rope {
    border: 10px solid red;
}
#hanger {
    border: 10px solid orangered;
}