body {
    background-image: url("../img/bgcaptainimage.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
}

.wordLetters {
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    /* padding: 5em; */
    letter-spacing: 10px;
    color: red;
}

.alphabet {
    font-size: 2em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    color: red;
}

.grid-container {
    display: grid;  
    grid-template-rows: auto auto auto auto auto auto;
   
}

img {
    max-width: 200px;
}

.hangman {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 10px solid red; */
    margin: 0 auto;    
}
.gallow {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.leftOfGallow {
    display: flex;
    justify-content: center;
}
.instructions {
    /* border: 10px solid red; */
    padding: 2em;
    margin: 0 auto;
}
.clues {
    font-size: 1em;
    margin: 0 auto;
}

.incorrectChoices {
    text-align: center;
}

#choicesLeftCounter {
    text-align: center;
    font-size: 2em;
}

.winner {
    text-align: center;
}

